body {
    background-color: hsl(0, 0%, 8%);
    color: hsl(0, 0%, 100%);
    display: flex;
    justify-content: center;
    height: 100vh;
    /* align-items: center;  */
    margin: auto;
    /* position: relative; */
}

.container {
    margin: auto;
    background-color: hsl(0, 0%, 12%);
    width: 300px;
    height: 80%;
    align-items: center;
    display: block;
    justify-content: center;
    /* position: absolute; */
    border-radius: 10px;
    text-align: center;

}

h3 {
    padding: 1px;
    color: hsl(75, 94%, 57%);
    font-size: 14px;
}

p {
    font-size: 14px;
}

.images {
    margin: auto;
    text-align: center;

}

.images .image {
    border-radius: 50%;
    width: 80px;
    margin: auto;
}

.link {
    display: block;
    align-items: center;
    margin: auto;
    text-align: center;
}

button {
    width: 80%;
    height: 30px;
    background-color: hsl(0, 0%, 20%);
    margin: 4px;
    border-radius: 5px;
    border: none;

}

a {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    box-shadow: none;
}

button:hover {
    background-color: hsl(75, 94%, 57%);
}



@media (max-width:375px) {
    h1{
        font-size: 30px;
    }
    .container {
        margin: auto;
        background-color: hsl(0, 0%, 12%);
        width: 250px;
        height: 80%;
        align-items: center;
        display: block;
        justify-content: center;
        border-radius: 7px;
        text-align: center;

    }

    button {
        width: 80%;
        height: 30px;
        background-color: hsl(0, 0%, 20%);
        margin: 4px;
        border-radius: 5px;
        border: none;

    }
}